html {
  background: #ed553b;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  perspective: 1200px;
}

header {
  color: #ffffff;
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 15px;
}

header h1 {
  line-height: 0.5em;
}

header a {
  color: #ffffff;
  text-decoration: underline;
}

.card {
  margin: 0 -50px;
  position: absolute;
  height: 50em;
  width: 30em;
  border-radius: 10px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
  backface-visibility: hidden;
}

.card.front {
  background: #632c65;
  border: 20px solid #fff;
}

.card.back {
  background: blue;
  border: 20px solid #fff;
  transform: rotateY(-180deg);
  z-index: 1;
}

.forward {
  transform: rotateY(180deg) !important;
}

.backwards {
  transform: rotateY(0deg) !important;
}

.cover1 {
  background: green;
}

.cover2 {
  background: yellow;
}

.cover3 {
  background: blue;
}

.cover4 {
  background: red;
}
